html body{
  display: flex;
  flex-flow: column;
  height: 100% !important;
}

h1{
  padding: 10px;
  color: orange;
}

.map-container {
  position:relative;
  height: 100%;
  width: 100%;
}

.map {
  /* width: auto; */
  /* flex-grow: 1; */
  /* height: auto; */
  position: absolute;
  height: 850px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 5px solid orange;
  border-bottom: 5px solid orange;
}

.card {
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  /* border-radius: .5em; */
}

.polyCard {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  color: black;
  /* border-radius: .5em; */
}

.card-title {
  padding: 5px;
  color: orange;
}

.poly-card-title {
  padding: 5px;
  color: orange;
}

.description{
  padding: 7px;
  text-align: justify;
  font-size: 1.25em;
}

.poly-description{
  padding: 7px;
  text-align: justify;
  font-size: 1.25em;
}

.link{
  padding: 7px;
  color: black;
  font-size: 1.25em;
}

.poly-link{
  padding: 7px;
  color: black;
  font-size: 1.25em;
}

.lat{
  padding: 7px;
  font-style: italic;
  font-size: 1.25em;
}

.long{
  padding: 7px;
  font-style: italic;
  font-size: 1.25em;
}

.deleteButton{
  border: 1px solid orange;
  border-radius: .25em;
  box-shadow: 2px 2px orange;
  color: black;
}

.poly-deleteButton{
  width: 90%;
  border: 1px solid orange;
  border-radius: .25em;
  box-shadow: 2px 2px orange;
  color: black;
}

.newFireForm{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
}

.newFireFormh3 {
  padding: 5px;
  color: black;
}

.submitButton{
  width: 90%;
  border: 1px solid orange;
  border-radius: .25em;
  box-shadow: 2px 2px orange;
  color: black;
}

.newPolyForm{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
}

.newPolyFormh3 {
  padding: 5px;
  color: black;
}

.polySubmitButton{
  width: 90%;
  border: 1px solid orange;
  border-radius: .25em;
  box-shadow: 2px 2px orange;
  color: black;
}
